h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
  /* Allow control over line wrapping for date formatting */
  white-space: pre-line;
}

p {
  font-size: 1.1rem;
}

/* Have button overlap card edges in badge style */
#setHome {
  margin: -0.5rem;
}
